# Binaries
**/target/

# IDE
**/.idea/
**/.vscode/

# Logs
**/*.log

# Byproducts
Cargo.lock

# Fetch-on-demand assets
assets/**/*.png
assets/**/*.ogg
game/assets/textures/*.png
game/assets/audio/*.ogg
